body {
  background-color:rgb(65, 198, 48);
  background-image:url("../img/tile.png");
  background-blend-mode:color-dodge;
  background-position:left top;
}

h6 {
  font-size:larger;
}

#greet_msg {
  font-family: Arial, Helvetica, sans-serif;
}

h2.heading, h3.heading {
  color:#2745c9;
  text-align:center;
  opacity:1;
}

.heading {
  color:rgb(0, 0, 0);
  opacity:0.3;
}

* {
  color:rgb(132, 7, 7);
}



/*
  ===== MAIN POINTS FROM TUTORIAL =====
  1. Link a CSS file to the HTML file.
  2. <... id="">
  3. <... class="">
  4. <div ...>
*/