body {
  background-color: darkblue;
}

#text {
  background-color: black;
  color: white;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: lightgray;
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#controls {
  border: 1px black solid;
  padding: 15px;
}

#stats {
  border-top: 1px black solid;     /* m */
  border-left: 1px black solid;     /* m */
  border-right: 1px black solid;     /* m */
  /* border: 1px black solid; */
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border-left: 1px black solid;     /* m */
  border-right: 1px black solid;     /* m */
  border-bottom: 1px black solid;     /* m */
  /* border: 1px black solid; */
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;
}